# Singularity Image Format files
*.sif

# User-specific files
.aws/
.bash_history
.bashrc
.cache/
.config/
.gitconfig
.kiro/
.lesshst
.local/
.npm/
.nvm/
.pki/
.profile
.vim/
.viminfo
.vscode-oss-dev/
.vscode-server-oss-dev/
.zshrc
acli
Kiro/
package-lock.json
